.offers {
         display: flex;
         justify-content: center;
         margin-top: 20px;
             
}

.flexoffers {
             text-align: center;
             font-family: Trebuchet MS;
             font-size: 25px;
}

#standard {
            background: rgb(30,200,225);
}

#best-value {
            background: orange;
}

#ultimate {
            background: rgb(0,179,134);
}


.wrapper-out {
              padding: 5px 0 0 0;
              height: 385px;
              width: 270px;
              border: 1px solid #eeeeee;
              border-radius: 5px;
              text-align: center;
              font-family: Trebuchet MS;
              transition: 0.8s
              
}

.wrapper-out:hover {
              padding: 5px;
              transform: scale(1.08);
              z-index: 500;
              position: relative;             
                            
}

h2 {
    color: white;
}

.wrapper-in {
             background: white;
             padding: 5px;
}

p {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

p sub, p sup {
              font-size: 15px;

}

ul {
    text-align: left;
    list-style-type: none;
    padding: 0 5px;
}

li:nth-of-type(odd) {
                     background: #e6ffff;
}

li:nth-of-type(even) {
                     background: #f2f2f2;
}

li {
    margin: 1px 0;
    padding: 5px;
}

li::before {
           content:url(check-mark2.png);
           margin: 0 5px 0 20px;
}


button.orange {
                background: orange;
                box-shadow: 0 3px #cc8800;
}

button.blue {
                background: rgb(80,130,190);
                box-shadow: 0 3px rgb(0,77,153);
}

button {
        border: none;
        border-radius: 4px;
        width: 90%;
        padding: 8px;
        margin: 0 0 15px 0;
        color: white;
        font-weight: bold;
        cursor: pointer;
        
}

button.orange:active {
               box-shadow: 0 1px #cc8800;
               transform: translateY(2px);
}

button.blue:active {
               box-shadow: 0 1px rgb(0,77,153);
               transform: translateY(2px);
}


